@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.MainNavigation {
  padding: 10px;
  background-color: $color-red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MainNavigation__logo {
  padding: 4px 10px;
  background-color: $color-grey3;
  border-radius: 6px;
  font-weight: $font-weight-bold;
}

.MainNavigation__links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.MainNavigation__links li a {
  padding: 4px 10px;
  border-radius: 6px;
  color: $color-grey3;
  cursor: pointer;

  &:hover {
    color: $color-black;
    background-color: $color-grey3;
  }
}
