.meetupDetail {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.meetupDetail__imgWrapper {
  width: 200px;
  height: 200px;
  display: flex;
  margin-right: 10px;
}

.meetupDetail__img {
  width: inherit;
}

.meetupDetail__info {
  padding: 10px;
}

.meetupDetail__info__title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.meetupDetail__info__address {
  color: grey;
  margin-bottom: 10px;
}