@import "../../styles/viewports.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.meetupItem {
  padding: 8px;
  border-bottom: 1px solid $color-grey2;
  display: flex;
  align-items: center;
  cursor: pointer;

  @media (min-width: $viewport-mobile-md) {
    padding: 8px 14px;
  }

  @media (min-width: $viewport-tablet) {
    border: 1px solid $color-grey2;
    border-radius: 4px;
    margin: 10px 0;
  }
}

.meetupItem__imgWrapper {
  min-width: 50px;
  width: 50px;
  min-height: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  margin-right: 10px;

  @media (min-width: $viewport-mobile-md) {
    margin-right: 14px;
  }
}

.meetupItem__img {
  transform: scale(2);
  width: 50px;
}

.meetupItem__info__title {
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  margin-bottom: 4px;

  @media (min-width: $viewport-mobile-md) {
    font-size: $font-size-md;
  }
}

.meetupItem__info__address {
  font-size: $font-size-xs;
  color: $color-grey;
}
