@import "../../styles/viewports.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.newMeetupForm {
  padding: 30px 20px;
  display: grid;
  align-content: center;

  @media (min-width: $viewport-mobile-md) {
    justify-content: center;
    grid-template-columns: minmax(200px, 500px);
  }
}

.newMeetupForm__inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.newMeetupForm__inputLabel {
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  margin-bottom: 10px;
}

.newMeetupForm__input {
  padding: 10px;
  border: 1px solid $color-grey2;
  border-radius: 4px;
  font-family: $font-roboto;

  @media (min-width: $viewport-mobile-md) {
    padding: 16px 10px;
  }
}

.newMeetupForm__actions {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}

.newMeetupForm__btnSubmit {
  padding: 8px 10px;
  background: $color-green;
  border: none;
  border-radius: 4px;
  font-size: $font-size-md;
  color: $color-grey3;
  cursor: pointer;
}
