.newMeetupForm {
  padding: 10px;
}

.newMeetupForm__inputWrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.newMeetupForm__inputLabel {
  font-weight: 500;
  margin-bottom: 10px;
}

.newMeetupForm__input {
  padding: 10px;
}

.newMeetupForm__actions {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

.newMeetupForm__btnSubmit {
  padding: 6px 10px;
  cursor: pointer;
}